<div class="fondo2 al">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 26">
                <center><header><h1 class="titulo color-letra">Sistema de control para citas medicas</h1></header> </center>
                <center><h4 class="color-letra">Tu clinica mas cerca de ti</h4></center>
            </div>
        </div>
    </div>
</div>

<div>

    <div class="row">

        <div class="col s12 grey lighten-2 center quitar-espacio">
            <div class="container">
                <div class="section">

                    <!--   Icon Section   -->
                    <div class="row">
                        <div class="col s12 m4">
                            <div class="icon-block">
                                <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
                                <h5 class="center">Rapidez en sus Citas</h5>

                                <p class="light">
                                    Porque sabemos que su tiempo es valioso trabajamos de la mano con
                                    la tecnologia alcanzando mejores resultados.
                                </p>
                            </div>
                        </div>

                        <div class="col s12 m4">
                            <div class="icon-block">
                                <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                                <h5 class="center">Interfaz amigable</h5>

                                <p class="light">
                                    Estamos claros y vamos al grano sin rodeos , Manipulacion amigable
                                    incluso para los menos expertos en la computacion.
                                </p>
                            </div>
                        </div>

                        <div class="col s12 m4">
                            <div class="icon-block">
                                <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
                                <h5 class="center">Multiples opciones</h5>

                                <p class="light">
                                    Todos tenemos temas de interes y nos gusta compartir con nuestras amistades,
                                    valiosa informacion y estudios memorables .
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!--  Scripts-->
<script src="~/js/active.js"></script>
<script src="js/init.js"></script>
<script src="js/materialize.js"></script>
<script src="js/jquery.js"></script>
<script src="js/materialize.min.js"></script>
<script>
     $(document).ready(function(){
        $(".button-collapse").sideNav();
     });
</script>

