@model SCMPT.Models.Usuarioo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>us</title>
</head>
<body>
    <div> 
        HOLa mundo
    </div>
</body>
</html>
